body{
  font-family: 'Source Sans Pro', sans-serif;
}
.container{
  float:left;
}

hr{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  background-color:black;
  opacity:0.1
}

.btn{
  padding:0.2rem;
}
.title{
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  float:left;
}
.file-actions{
  float: right;
}

.file-list{
  list-style-type: none; 
  padding: 0.3rem; 
}
.file-list li{
  padding: 0.1rem;
  display: inline;
}
.action-buttons{
  font-size:10px;
  clear:both
}


.urlbar input[type=text]{
  width: 100%;
  font-size: 14px;
  border-radius: 3px;
  border:none;
  border: grey solid 1px;
  padding-left: 10px;
}

.activity table{
  font-size: 13px;
  border: none;
  width: 100%;
}

.activity table thead{
  border-bottom: 1px solid black;
  border-color: rgb(185, 179, 179);
}

.activity table thead th{
  position: sticky;
  top: 0;
  background: rgba(233, 230, 230, 0.267);
}

.activity table td{
  border: 0;
  width: 100px;
}
.log-ref{
  background-color: rgb(172, 166, 166);
}
.log-ref button:hover{
  border: grey solid 2px;
}

tbody tr td:first-child {
  width: 40px;
  min-width: 5px;
  max-width: 5px;
  word-break: break-all;
  border-right: 1px solid black;
  border-color: rgb(185, 179, 179);
}

tbody tr td:nth-child(2) , tbody tr td:nth-child(3) {
  word-break: break-all;
  border-right: 1px solid black;
  border-color: rgb(185, 179, 179);
}

.fa{
  
}

.ellipsis{
  /*text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  width: 29em;*/
}

table {
    counter-reset: tableCount;     
}
.counterCell:before {              
    content: counter(tableCount); 
    counter-increment: tableCount; 
}


.activity{
  height: 270px;
  overflow: auto;
}
.activity::-webkit-scrollbar {width: 6px;}
.activity::-webkit-scrollbar-track-piece {
  background: #ccc;
  border-right: 6px solid #fff;
  border-left: 6px solid #fff;
}
.activity::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 8px;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal .btn {
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  width:80px;
}

.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;
  justify-content: center;
}

/* input-file */
input[type="file"] {
  display: none;
}
.custom-file-upload {
  cursor: pointer;
}

/* ToolTips */

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

input[type=image]{
  width:25px;
  height:25px;
}

.slider_none {
  display:none;
}
.slider_block {
  display:flex;
  transform: rotate(90deg);
  position: absolute;
  background-color: white;
  margin-left:-60px;
  margin-top: 85px;
  z-index: 1;
  border:grey solid 1px;
  border-radius: 5px;
}

.slider_block span{
  font-size:11px;
  font-weight: bold;
  transform: rotate(-90deg);
}

input[type=range] {
  height: 50px;
  -webkit-appearance: none;
  
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #E3E3BC;
  border-radius: 3px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #1BDCE3;
  height: 13px;
  width: 14px;
  border-radius: 14px;
  background: #A1D0FF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #E3E3BC;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #E3E3BC;
  border-radius: 3px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #1BDCE3;
  height: 13px;
  width: 14px;
  border-radius: 14px;
  background: #A1D0FF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #E3E3BC;
  border: 0px solid #000000;
  border-radius: 6px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #E3E3BC;
  border: 0px solid #000000;
  border-radius: 6px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #1BDCE3;
  height: 13px;
  width: 14px;
  border-radius: 14px;
  background: #A1D0FF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #E3E3BC;
}
input[type=range]:focus::-ms-fill-upper {
  background: #E3E3BC;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 1.8px;
  margin-left: -3px;
  cursor: pointer;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.project{
}

.logs{
  border-top: grey solid 1px; 
}


.options{
  margin-left: 1rem;
}

.options label{
    display: inline-block;
    width:100px;
    text-align: left;

}
.options input[type=text],select{
  font-size: 15px;
  border-radius: 3px;
  border:none;
  border: grey solid 1px;
  opacity: 0.7;
  width:400px;
  padding-left: 10px;
  padding-right: 10px;
}

.options button{
  font-size:13px;
  padding: 3px 10px 3px 10px;
  border:none;
  border: grey solid 1px;
  border-radius: 4px;
  opacity: 0.7;
  width: 36px
}
